[Desktop Entry]
Type=Application
Version=1.0
Name=isd
GenericName=Interactive Systemd
Comment=A better way to work with systemd units
Icon=isd
Exec=isd
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
